#background {
  position: fixed;
  height: 100%;
  width: 100%;
  background: transparent;
  transform: scale(1.03);

  #horizon {
    position: relative;
    background: #6cb8f1;
    width: 100%;
    height: 80%;

    #sky {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      #sun {
        position: absolute;
        bottom: 10%;
        right: 0%;
        background: #ecbe68;
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }

      #moon {
        position: absolute;
        top: 5%;
        right: 10%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 20px 20px 0 0 #ecbe68;
        visibility: hidden;
        opacity: 0;
      }

      #stars {
        position: absolute;
        width: 100%;
        height: 100%;
        visibility: 0;
        opacity: 0;

        .star {
          position: absolute;
          border-radius: 50%;
          width: 3px;
          height: 3px;
          background-color: #ecbe68;
        }
      }

      .cloud {
        position:absolute;
        background: url('../images/vectors/cloud.svg');
        background-repeat: no-repeat;
        width:100px;
        height:50px;
      }
    }

    #skyline {
      display: block;
      position: absolute;
      bottom: 0;
      height: 80%;
      width: 100%;
      fill: #222222;
    }
  }

  #water {
    position: relative;
    top: 0;
    background: #2b9bcc;
    width: 100%;
    height: 20%;

    #waves {
      position: absolute;
      width: 100%;
      height: 100%;

      $wavesCount: 10;
      .wave {
        position: absolute;
        width: percentage((25 / $wavesCount) / 100);
        height: auto;

        $wavesSliceSize: 100 / $wavesCount;
        @for $i from 1 through $wavesCount {
          $leftPosition: (($i - 1) * ($wavesSliceSize)) + ((random(100) * $wavesSliceSize) / 100);
          &:nth-child(#{$i}) {
            left: percentage($leftPosition / 100);
            top: percentage(random(75) / 100);
          }
        }
      }
    }

    #ships {
      position: absolute;
      width: 100%;
      height: 100%;

      .ship {
        position: absolute;
        height: 50%;
        width: 50%;
        background: url('../images/vectors/ship.svg');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #333;
    opacity: 0.5;
  }
}
